polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.policykit.exec" && subject.isInGroup("wheel") && action.lookup("program") == "/usr/libexec/playtron/os-install") {
        return polkit.Result.YES;
    }
});
