# Pi 5 firmware and kernel cache (downloaded during customize)
arm/build-cache/
arm/firmware/
arm/kernel/
arm/pi5/build-cache/
# This directory is created when running the command "go-task disk-image:bootc".
output
# These direcotries and files are created by "go-task repo:archive".
repo-archive*
# This file is created when running the command "go-task container-image:build".
rootfs/usr/lib/os-release-playtron
# This file is created from "kickstart/playtron-os_kickstart.cfg.template".
playtron-os_kickstart.cfg
# This file is created when running the command "go-task package-list".
*.pkg-list.txt
