[[customizations.user]]
name = "playtron"
password = "playtron"
groups = ["wheel"]

[[customizations.directories]]
path = "/etc/environment.d"
user = "root"
group = "root"

# prevent writes to /var/log in install mode
[[customizations.files]]
path = "/etc/systemd/system/var-log.mount"
data = """
[Unit]
DefaultDependencies=True

[Mount]
What=tmpfs
Where=/var/log
Type=tmpfs
Options=noatime,size=20%

[Install]
WantedBy=local-fs.target
"""

# prevent writes to /var/lib in install mode
[[customizations.files]]
path = "/etc/systemd/system/var-lib.mount"
data = """
[Unit]
DefaultDependencies=True

[Mount]
What=tmpfs
Where=/var/lib
Type=tmpfs
Options=noatime,size=20%

[Install]
WantedBy=local-fs.target
"""

# switch Grid to install mode
[[customizations.files]]
path = "/etc/environment.d/playtron-installer.conf"
data = "GRID_INSTALL_MODE=1"

# disable resize-root-file-system service
[[customizations.files]]
path = "/etc/systemd/system/resize-root-file-system.service"

# disable media automount
[[customizations.files]]
path = "/etc/udev/rules.d/99-media-automount.rules"

# disable qcom_q6v5_pas to allow installer to boot from usb device on X13s
# NOTE: this prevents audio from working on the X13s
[[customizations.files]]
path = "/etc/modprobe.d/playtron-installer.conf"
data = "blacklist qcom_q6v5_pas"
